:root {
  --red-color: #eb0028;
}

nav {
  background-color: #f9f9f9;
}
nav .offcanvas-body div > a {
  color: black;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .offcanvas-body div > a:hover {
  color: var(--red-color) !important;
}
.nav-icons svg {
  cursor: pointer;
}